<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/admin/css/admin.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
<body>
    @Html.AntiForgeryToken()
    <div id="app" v-cloak>

    </div>
    <environment include="Development">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2/dist/vuetify.min.js"></script>
    </environment>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    @RenderSection("ComponentScripts", required: false)
    <script src="~/admin/js/admin.js" asp-append-version="true"></script>
</body>
</html>
